.tab-list-project-fund-approvaL {
  gap: 20px;
  @media (min-width: 1200px) {
    .container {
      max-width: 90% !important;
    }
  }
  .tab-active-box {
    gap: 20px;
    h5 {
      cursor: pointer;
    }
    // .active-tab {
    //     border-bottom: 2px solid #d63e3e;
    //     transition: all 0.3s ease;
    // }
    .tab {
      position: relative;
      padding-bottom: 5px; /* Điều chỉnh khoảng cách nếu cần */
    }

    .tab::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #d63e3e;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s ease;
    }
    .active-tab {
      font-weight: 500;
      &::after {
        transform: scaleX(1);
      }
    }
  }
}
