.base-dialog-file {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    .ant-upload-list-item-actions {
      display: none;
    }
  }
  