.header {
  .over-lay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.5;
    background: #312f2e;
  }
  .label-title {
    font-size: 30px;
  }
  .img-header-logo {
    img {
      border-radius: 999px;
      width: 80px;
      height: 80px;
      filter: invert(1) brightness(200%);
    }
  }
  .item-user {
    display: flex;
    align-items: center;
    gap: 4px;
    .user-img-home {
      cursor: pointer;
      img {
        border-radius: 999px;
        width: 40px;
        height: 40px;
      }
    }
  }
  .nav-link {
    font-size: 24px !important;
  }
  .active-user {
    color: #f86f2d !important;
    cursor: pointer;
  }
  .user-tab {
    color: white !important;
  }
  .header-noBgImg {
    height: 100px;
    background-color: #252525;
  }
  .tippy-header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 4px 8px;
    &:hover {
      background-color: rgb(199, 199, 199);
    }
    .span-tippy-header {
      font-size: 16px;
      color: black;
    }
  }
  @media (max-width: 991.98px) {
    .header-noBgImg {
      height: 0px;
      background-color: none;
    }
  }
}
