.total-payment {
  .overlay {
    background-color: #312f2e !important;
  }
  .text-label {
    color: white;
    font-size: 28px;
  }
  .text {
    color: white;
    font-weight: bold;
  }
  .text-value {
    font-size: 44px;
  }
}
