.absolute-category {
    position: absolute;
    top: 4%;
    right: 10%;
    background-color:#f86f2d !important ;
    padding: 4px 8px;
    border-radius: 6px;
    span {
      color: white !important;
    }
  }