.background-login {
    background: rgba(100, 100, 100, 0.7);
    .text-color {
        color: white;
    }
    .button-back-home {
        position: absolute;
        left: -150px;
        font-size: 20px;
        cursor: pointer;
        display: flex;
        align-items: center;
        &:hover{
            background: none;
            scale: 1.2;
        }
    }
}